{% extends "template.jinja2" %}
{% block title %}
Email editor
{% endblock %}
{% block head %}
    <script src="/static/js/nicEdit-latest.js" type="text/javascript"></script>
    <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
{% endblock %}
{% block content %}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Template Select
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            {% for template in templates %}
                <li><a href="#" id="{{ template.name }}_select">{{ template.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <textarea id="editor" class="form-control" rows="20" required="required"></textarea>
    <br>
    <button type="button" class="btn btn-primary btn-lg" id="submit">Save</button>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function() {setTimeout(function () {
            $('.nicEdit-panel').hide();
            $("#submit").prop("disabled", true);
            $('.nicEdit-main').attr('contenteditable','false').parent().css("background-colour", "#EEE");
        }, 0)});

        var files = {}
        {% for template in templates %}
            files["{{ template.name }}"] = {{ template.content.__repr__() }};
            $("#{{ template.name }}_select").click(function(e){
                e.preventDefault();
                $('.nicEdit-panel').show();
                $("#submit").prop("disabled", false);
                $('.nicEdit-main').attr('contenteditable','true').parent().css("background-colour", "#FFF");
                nicEditors.findEditor("editor").setContent({{ template.content.__repr__() }});
            });
        {% endfor %}

        $('.dropdown-menu li a').click(function(e){
            $('.dropdown-toggle').html($(this).text()+' <span class="caret"></span></button>');
        });

        $("#submit").click(function() {
            name = $('.dropdown-toggle').text().trim();
            $.ajax({
                type: "post",
                data: {name: name,
                       data: $(".nicEdit-main")[0].innerHTML},
                success: function(response) {
                    window.location.replace(response);
                }
            });
        });
    </script>
{% endblock %}