{% extends "template.jinja2" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/table.css"/>
{% endblock %}
{% block content %}
    <table class="table table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Projects</th>
                <th>First choices</th>
                <th>Second Choices</th>
                <th>Third Choices</th>
                <th>Manual Override</th>
            </tr>
        </thead>
        {% for project in projects %}
            <tr>
                <td rowspan="{{ choices[project.id]["length"] or 1 }}">{{ project.title }} - {{ project.supervisor.name }}</td>
                {% for row in range(choices[project.id]["length"] or 1) %}
                    {% if loop.index != 1 %}
                        <tr>
                    {% endif %}
                    {% for option in (0, 1, 2) %}
                        {% if choices[project.id][option][row] %}
                            <td><button type="button" class="btn btn-secondary btn-lg btn-block {{"active" if project.student_id == choices[project.id][option][row].id}} " name="{{ choices[project.id][option][row].id }}" id="{{ project.id }}">{{ choices[project.id][option][row].name }} ({{ choices[project.id][option][row].priority }})</button></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                    {% if loop.index == 1 %}
                        <td rowspan="{{ choices[project.id]["length"] or 1 }}">
                            <div class="btn-group">
                                <button type="button" class="form-control dropdown-toggle btn btn-secondary btn-lg btn-block" data-toggle="dropdown" id="{{ project.id }}">
                                    Override <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    {% for student in students %}
                                        <li><a href="#" name="{{ project.id }}" id="{{ student.id }}">{{ student.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                    {% endif %}
                    </tr>
                {% endfor %}
        {% endfor %}
    </table>

    <div class="col-sm-4">
        <button type="button" class="btn btn-primary btn-lg btn-block" id="assign">Assign CoGS members</button>
        <br/>
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary btn-lg btn-block" id="save">Save</button>
    </div>
{% endblock %}
{% block script %}
    <script>
        var checked = $.map($(".active"), function(n, i) {return n.id});
        var no_users = {{ students | length }};
        $("#assign").prop('disabled', checked.length !== no_users);
        $("button").click(function() {
            if (this.id == "assign") {return};
            if (this.id == "save") {return};
            if ($(this).hasClass("active") && !$(this).hasClass("form-control")) {
                $(this).removeClass("active");
                this.style.color = "";
                $("[name='"+this.name+"']").each(function(index) {
                    $(this).removeClass("active");
                    this.style.color = "";
                });
            }
            else if (!$(this).hasClass("form-control")) {
                update_buttons(this);
            }
        });
        $('.dropdown-menu').on('click', 'a', function() {
            var text = $(this).html();
            var id = $(this).attr("id");
            var htmlText = text + ' <span class="caret"></span>';
            dropdown = $(this).closest('.btn-group').find('.dropdown-toggle');
            $("[name='"+dropdown[0].name+"']").each(function(index) {
                this.style.color = "";
                if ($(this).hasClass("form-control")) {
                    this.name = ""
                    $(this).html('Override <span class="caret"></span>');
                }
            });
            dropdown.attr("name", id);
            update_buttons(dropdown[0]);
            dropdown.attr("name", id);
            dropdown.html(htmlText);
        });

        $("#assign").click(function() {
            var checked = $.map($(".active"), function(n, i) {return [[n.id, n.name]]});
            map = checked.reduce(function(p, c) {
                p[c[0]] = c[1];
                return p;
            }, {});

            $.ajax({
                type: "post",
                data: map,
                success: function(response) {
                    window.location.replace(response);
                }
            });
        });

        function update_buttons(button) {
            name = button.name;
            $("[id='"+button.id+"']").each(function(index) {
                if ($(this).hasClass("active")) {
                    $("[name='"+this.name+"']").each(function(index) {
                        $(this).removeClass("active");
                        this.style.color = "";
                        if ($(this).hasClass("form-control")) {
                            this.name = ""
                            $(this).html('Override <span class="caret"></span>');
                        }
                    });
                }
                $(this).removeClass("active");
            });
            $("[name='"+name+"']").not("a").each(function(index) {
                $(this).removeClass("active");
                this.style.color = "#ccc";
                if ($(this).hasClass("form-control")) {
                    this.name = ""
                    this.style.color = "";
                    $(this).html('Override <span class="caret"></span>');
                }
            });
            $(button).addClass("active");
            button.style.color = "";
            var checked = $.map($(".active"), function(n, i) {return n.id});
            var no_users = {{ students | length }};
            $("#assign").prop('disabled', checked.length !== no_users);
        }

        max_height = 0;
        $("td:not([rowspan])").each(function(index) {
            if($(this).height() > max_height) {
                max_height = $(this).height();
            };
        });
        $("td:not([rowspan])").height(max_height);
        $("td[rowspan]").each(function(index) {
            rowspan = $(this).attr('rowspan');
            $(this).children().first().height(max_height * rowspan);
        });


        $("#save").click(function() {
            var checked = $.map($(".active"), function(n, i) {return [[n.id, n.name]]});
            map = checked.reduce(function(p, c) {
                p[c[0]] = c[1];
                return p;
            }, {});

            $.ajax({
                type: "put",
                data: map,
                success: function(response) {
                    window.location.replace(response);
                }
            });
        });
    </script>
{% endblock %}