{% extends "template.jinja2" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/table.css"/>
{% endblock %}
{% block content %}
    <table class="table table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Projects</th>
                <th>First choices</th>
                <th>Second Choices</th>
                <th>Third Choices</th>
            </tr>
        </thead>
        {% for project in projects %}
            <tr>
                <td rowspan="{{ choices[project.id]["length"] or 1 }}">{{ project.title }}</td>
                {% for row in range(choices[project.id]["length"] or 1) %}
                    {% if loop.index != 1 %}
                        <tr>
                    {% endif %}
                    {% for option in (0, 1, 2) %}
                        {% if choices[project.id][option][row] %}
                            <td><button type="button" class="btn btn-secondary btn-lg btn-block" name="{{ choices[project.id][option][row].id }}" id="{{ project.id }}">{{ choices[project.id][option][row].name }}</button></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
        {% endfor %}
    </table>

    <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-lg btn-block" id="assign">Assign CoGS members</button>
    </div>
{% endblock %}
{% block script %}
    <script>
        $("#assign").prop('disabled', true);
        $("button").click(function() {
            if ($(this).hasClass("active")) {
                $("[name='"+this.name+"']").each(function(index) {
                    $(this).removeClass("active");
                    this.style.color = "";
                });
            }
            else {
                $("[id='"+this.id+"']").each(function(index) {
                    if ($(this).hasClass("active")) {
                        $("[name='"+this.name+"']").each(function(index) {
                            this.style.color = "";
                        });
                    }
                    $(this).removeClass("active");
                });
                $("[name='"+this.name+"']").each(function(index) {
                    $(this).removeClass("active");
                    this.style.color = "#ccc";
                });
                $(this).addClass("active");
                this.style.color = "";
                var checked = $.map($(".active"), function(n, i) {return n.id});
                var no_users = {{ user_ids | length }};
                $("#assign").prop('disabled', checked.length !== no_users);
            }
        });
        $("#assign").click(function() {
            $(this).removeClass("active");
            var checked = $.map($(".active"), function(n, i) {return [[n.id, n.name]]});
            map = checked.reduce(function(p, c) {
                p[c[0]] = c[1];
                return p;
            }, {});

            $.ajax({
                type: "post",
                data: map,
                success: function(response) {
                    window.location.replace(response);
                }
            });
        });

        max_height = 0;
        $("td:not([rowspan])").each(function(index) {
            if($(this).height() > max_height) {
                max_height = $(this).height();
            };
        });
        $("td:not([rowspan])").height(max_height);
    </script>
{% endblock %}