{% extends "template.jinja2" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/table.css"/>
{% endblock %}
{% block content %}
    <table class="table table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Projects</th>
                <th>First choices</th>
                <th>Second Choices</th>
                <th>Third Choices</th>
            </tr>
        </thead>
        {% for project in projects %}
            <tr>
                <td rowspan="{{ choices[project.id]["length"] or 1 }}">{{ project.title }}</td>
                {% for row in range(choices[project.id]["length"] or 1) %}
                    {% if loop.index != 1 %}
                        <tr>
                    {% endif %}
                    {% for option in (0, 1, 2) %}
                        {% if choices[project.id][option][row] %}
                            <td><button type="button" class="btn btn-secondary btn-lg btn-block" name="{{ choices[project.id][option][row].id }}" id="{{ project.id }}">{{ choices[project.id][option][row].name }}</button></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
        {% endfor %}
    </table>
{% endblock %}
{% block script %}
    <script>
        $("button").click(function() {
            if ($(this).hasClass("active")) {
                $("[name='"+this.name+"']").each(function(index) {
                    $(this).removeClass("active");
                    this.style.color = "";
                });
            }
            else {
                $("[id='"+this.id+"']").each(function(index) {
                    if ($(this).hasClass("active")) {
                        $("[name='"+this.name+"']").each(function(index) {
                            this.style.color = "";
                        });
                    }
                    $(this).removeClass("active");
                });
                $("[name='"+this.name+"']").each(function(index) {
                    $(this).removeClass("active");
                    this.style.color = "#ccc";
                });
                $(this).addClass("active");
                this.style.color = "";
            }
        });

        max_height = 0;
        $("td:not([rowspan])").each(function(index) {
            if($(this).height() > max_height) {
                max_height = $(this).height();
            };
        });
        $("td:not([rowspan])").height(max_height);
    </script>
{% endblock %}