{% extends "template.jinja2" %}
{% block content %}
    <div class="row">
        {% with create_button = "Create rotation" %}
            {% include "group_form_inline.jinja2" %}
        {% endwith %}
    </div>

    <div id="confirm" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Creation</h4>
                </div>
                <div class="modal-body">
                    <p>You are about to create a new rotation. This will disable editing of the previous rotation and make all projects in old rotations read-only, including projects that have not been completed.</p>
                    <p>Do you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a id="add" class="btn btn-success btn-ok">Create</a>
                </div>
            </div>
        </div>
    </div>

    <div id="incomplete" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Incomplete</h4>
                </div>
                <div class="modal-body">
                    <p>Not all of the deadlines have not been set.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        no_datepickers = {{ deadlines | count }};
        {% include "group_create_js.jinja2" %}
        $(document).ready(function() {
            for (i = 1; i < no_datepickers+1; i++) {
                $.datepicker._clearDate($('#datepicker__'+i));
            }
        });

        $('button[name="add_group_"]').on('click', function(e) {
            e.preventDefault();
            if ($('#datepicker__1').val()) {
                $('#confirm').modal({
                  backdrop: 'static',
                  keyboard: false
                })
                .one('click', '#add', function(e) {
                    $.ajax({
                        type: "post",
                        data: $("#edit_form_").serialize(),
                        success: function(response) {
                            window.location.replace(response);
                        }
                    });
                });
            }
            else {
                $('#incomplete').modal({
                  backdrop: 'static',
                  keyboard: false
                })
            }

        });
    </script>
{% endblock %}