{% extends 'template.jinja2' %}
{% block head %}
{% endblock %}
{% block content %}
        {% for project in project_list %}
        {% include 'single_project_overview.jinja2' %}
        {% endfor %}
{% endblock %}