{% extends "template.jinja2" %}
{% block content %}

    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form id="edit-form" method="POST">

                    <div class="row">
                        <div class="col-md-6">
                            <label for="datepicker1">Submission deadline for supervisors</label>
                            <input class="input-group date" id="datepicker1" name="supervisor_submit"/>
                            <label for="datepicker2">Deadline for Grad Office review</label>
                            <input class="input-group date" id="datepicker2" name="grad_office_review"/>
                            <label for="datepicker3">Date students get invited</label>
                            <input class="input-group date" id="datepicker3" name="student_invite"/>
                            <label for="datepicker4">Deadline for student choices</label>
                            <input class="input-group date" id="datepicker4" name="student_choice"/>
                            <label for="datepicker5">Deadline for student completion</label>
                            <input class="input-group date" id="datepicker5" name="student_complete"/>
                            <label for="datepicker6">Deadline for preliminary marking</label>
                            <input class="input-group date" id="datepicker6" name="initial_mark"/>
                            <label for="datepicker7">Deadline for marking review</label>
                            <input class="input-group date" id="datepicker7" name="cogs_mark"/>
                            <br/>
                            <button type="submit"class="btn btn-primary btn-lg" name="add_group">Create rotation</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="confirm" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Creation</h4>
                </div>
                <div class="modal-body">
                    <p>You are about to create a new rotation. This will disable editing of the previous rotation and make all projects in old rotations read-only, including projects that have not been completed.</p>
                    <p>Do you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a id="add" class="btn btn-success btn-ok">Create</a>
                </div>
            </div>
        </div>
    </div>

    <div id="incomplete" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Incomplete</h4>
                </div>
                <div class="modal-body">
                    <p>Not all of the deadlines have not been set.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="/static/js/group_create.js"></script>
{% endblock %}