        <div class="col-md-8">
            <div class="well well-sm">
                <form id="edit-form" method="POST">

                    <div class="row">
                        <div class="col-md-6">
                            {% for deadline in deadlines %}
                                <label for="datepicker{{ loop.index }}">{{ deadlines[deadline]["name"] }}</label>
                                <input class="input-group date" id="datepicker{{ loop.index }}" name="{{ deadline }}" value="{{ group[deadline] }}"/>
                            {% endfor %}
                            <br/>
                            <button type="submit" class="btn btn-primary btn-lg" name="add_group">{{ create_button }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>