{% extends 'template.jinja2' %}
{% block content %}
    {% include 'group_overview_inline.jinja2' %}
    {% if show_vote %}
        <hr>
        <br>
        <div class="col-sm-4">
            <a type="button" class="btn btn-success btn-lg btn-block" href="/">Save Choices</a>
        </div>
    {% endif %}
{% endblock %}
{% block script %}
    <script>
        $(function() {
            $(":button").click(function(e) {
                $.ajax({url: "/projects/student_setoption",
                        data: {order: this.id,
                               choice: this.value},
                        dataType: "json",
                        method: "POST"});
                clicked = this;
                $(":button").each(function(i) {
                    if ((this.id == clicked.id && this.value != clicked.value) ||
                        (this.value == clicked.value)) {

                        $(this).data('check', false).data('aria-selected', false).removeClass("active");
                    }
                });
            });
        });
    </script>
{% endblock %}