{% extends 'template.jinja2' %}
{% block head %}
{% endblock %}
{% block content %}
        {% for project in project_list %}
                {% include 'single_project_overview.jinja2' %}
                {% if not loop.last %}
                    <hr/>
                    <hr style="height:2px;border:none;color:#999;background-color:#ccc;" />
                {% endif %}
        {% endfor %}
{% endblock %}