<form name="loginForm">
    <label><input type="radio" name="loginType"  value="">None</label>
    <label><input type="radio" name="loginType"  value="student"/>Student</label>
    <label><input type="radio" name="loginType"  value="supervisor"/>Supervisor</label>
    <label><input type="radio" name="loginType"  value="cogs_user"/>COGS Member</label>
    <label><input type="radio" name="loginType"  value="grad_office"/>Grad Office</label>
    <label><input type="radio" name="loginType"  value="admin"/>ADMIN</label>
</form>

<script>
    var rad = document.loginForm.loginType;
    for(var i = 0; i < rad.length; i++) {
        rad[i].addEventListener("click", login_listener);
    }

    function login_listener() {
        $.post("/login", {type:this.value}, function(data, status){
            if (status == "success") {
                window.location.reload(true);
            }
            else {
                alert(status);
            }
        });
    }
</script>

