{% extends 'template.jinja2' %}
{% block title %}{{ label }} a project{% endblock %}
{% block head %}
<script src="/static/js/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
<script>
    function submit_data() {
        $("#message").val(document.getElementsByClassName("nicEdit-main")[0].innerHTML);
        comments = "";
        if (!$("#name").val().trim()) {
            comments += "The project title is empty<br>";
        }
        if (!$("#message").val().replace(/<br>/g, "").replace(/&nbsp;/g, "").trim()) {
            comments += "The abstract is empty<br>";
        }
        if (!$('input[name="options"]:checked').val()) {
            comments += "There was no project type selected<br>";
        }
        if (comments) {
            document.getElementById("incomplete_info").innerHTML = comments;
            $('#incomplete').modal({
              backdrop: 'static',
              keyboard: false
            })
        }
        else {
            $.ajax({
                type: "post",
                data: $("#edit-form").serialize(),
                success: function(response) {
                    window.location.replace(response);
                }
            });
        }
    }
</script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="well well-sm">
                <form id="edit-form">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="name">Project title</label>
                                <input name="title" type="text" class="form-control" id="name" placeholder="Enter title" required="required" value="{{ project.title }}"/>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="authors">Others involved</label>
                                <input name="authors" type="text" class="form-control" id="authors" value="{{ project.small_info }}"/>
                            </div>
                        </div>
                    </div>
                    <label class="btn">
                        <input name="options" type="radio" value="wetlab" autocomplete="off" {{ "checked" if (project.is_wetlab and not project.is_computational) }}> Wetlab
                    </label>
                    <label class="btn">
                        <input name="options" type="radio" value="computational" autocomplete="off" {{ "checked" if (not project.is_wetlab and project.is_computational) }}> Computational
                    </label>
                    <label class="btn">
                        <input name="options" type="radio" value="both" autocomplete="off" {{ "checked" if (project.is_wetlab and project.is_computational) }}> Both
                    </label>
                    <div class="form-group">
                        <label for="name">Abstract</label>
                        <textarea name="message" id="message" class="form-control" rows="20" required="required">{{ project.abstract }}</textarea>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg" onclick="submit_data()">{{ label }}</button>
                </form>
            </div>
        </div>
    </div>

    <div id="incomplete" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Incomplete</h4>
                </div>
                <div class="modal-body">
                    <p id="incomplete_info">Not all of the deadlines have not been set.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}