{% extends "template.jinja2" %}
{% block head %}
    {% include "fine_uploader.jinja2" %}
{% endblock %}
{% block content %}
    <h3>Upload final document for {{ project.title }}</h3>
    {% if not project.uploaded %}
        <h5>Deadline: {{ project.group.student_complete }}</h5>
        <p>
            You may submit your final document for the project at any time.
            You will receive {{ grace_time }} days grace period where you can edit your final upload as you please.
            After this time, you will no longer be able to modify the project at all and it will be sent to your supervisor and dedicated CoGS marker.
            You will be then sent your grade for the project by email along with accompanying feedback.
        </p>
    {% else %}
        <p>
            You have already uploaded your final document for this rotation. You may reupload the project until <b>{{ project_grace}}</b>
        </p>
        <label><input type="checkbox" id="force">Overwrite existing data</label>

        <div id="confirm" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirm</h4>
                    </div>
                    <div class="modal-body">
                        <p>This action has been prevented to stop you overwriting your data.</p>
                        <p>If you want to resubmit your project with a different file, select the 'Overwrite existing data' checkbox.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="uploader"></div>
{% endblock %}
{% block script %}
<script>
    $("#uploader").fineUploader({
        request: {endpoint: "/student_submit"},
        callbacks: {onComplete: function() {window.location.reload(true)}}
    });
    {% if project.uploaded %}
        $("#uploader").on("validate", function (data, buttonContainer) {
            if (!$("#force").is(':checked')) {
                $('#confirm').modal({
                  backdrop: 'static',
                  keyboard: false
                })
            }
            return $("#force").is(':checked');
        });
    {% endif %}
</script>
{% endblock %}
