{% extends "template.jinja2" %}
{% block head %}
    {% include "fine_uploader.jinja2" %}
{% endblock %}
{% block content %}
    <h3>Upload final document for {{ project.title }}</h3>
    {% if not project.uploaded %}
        <h5>Deadline: {{ project.group.student_complete }}</h5>
        <p>
            You may submit your final document for the project at any time.
            You will receive {{ grace_time }} days grace period where you can edit your final upload as you please.
            After this time, you will no longer be able to modify the project at all and it will be sent to your supervisor and dedicated CoGS marker.
            You will be then sent your grade for the project by email along with accompanying feedback.
        </p>
    {% else %}
        <p>
            You have already uploaded your final document for this rotation. You may reupload the project until <b>{{ project_grace}}</b>
        </p>
    {% endif %}
    <div id="uploader"></div>
{% endblock %}
{% block script %}
<script>
    $("#uploader").fineUploader({
        request: {endpoint: "/student_submit"},
        callbacks: {onComplete: function() {window.location.reload(true)}}
    });
</script>
{% endblock %}

