<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Student manager{% endblock %}</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/generic.css"/>

    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">PhD Student Portal{{' <span class="sr-only">(current)</span>' if cur_option == "cogs"}}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if display_projects_link %}
                        <li{{' class="active"' if cur_option == "projects"}}><a href="/projects">All Projects{{' <span class="sr-only">(current)</span>' if cur_option == "projects"}}</a></li>
                    {% endif %}
                    {% if "create_projects" in permissions and can_edit %}
                        <li{{' class="active"' if cur_option == "create_project"}}><a href="/create_project">Create a project{{' <span class="sr-only">(current)</span>' if cur_option == "create_project"}}</a></li>
                    {% endif %}
                    {% if show_submit %}
                        <li{{' class="active"' if cur_option == "upload_project"}}><a href="/student_submit">Upload final project{{' <span class="sr-only">(current)</span>' if cur_option == "upload_project"}}</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if "view_all_submitted_projects" in permissions %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Export to Excel <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for year in series_years %}
                                    <li role="presentation"><a href="/groups/{{ year }}/export_group.xlsx">{{ year }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Edit CoGS Markers <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for rotation in rotations %}
                                    <li{{' class="active"' if cur_option == "edit_cogs"}}><a href="/groups/{{ rotation }}/edit_cogs">Rotation {{ rotation }}{{' <span class="sr-only">(current)</span>' if cur_option == "edit_cogs"}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if "modify_permissions" in permissions %}
                        <li{{' class="active"' if cur_option == "edit_users"}}><a href="/user_overview">Edit Users{{' <span class="sr-only">(current)</span>' if cur_option == "edit_users"}}</a></li>
                    {% endif %}
                    {% if not user %}
                        <li><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% include 'login.jinja2' %}
        {% block content %}
        {% endblock %}
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <img class="pull-left" src="/static/image/wtsi_logo_140x45.png" alt="WTSI Logo"/>
            <p class="navbar-text pull-left">This is a <a href="http://www.sanger.ac.uk/">Wellcome Trust Sanger Institute</a> site</p>
            <p class="navbar-text pull-right">
                <a href="http://www.sanger.ac.uk/legal/">Terms and Conditions</a> |
                <a href="http://www.sanger.ac.uk/legal/cookiespolicy.html">Cookie Policy</a>
            </p>
        </div>
    </div>
    {% block script %}
    {% endblock %}
</body>
</html>