<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Student manager{% endblock %}</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/generic.css"/>

    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="container">
        {% include 'login.jinja2' %}
        {% block content %}
        {% endblock %}
    </div>
    {% block script %}
    {% endblock %}
</body>
</html>