<!DOCTYPE html>
<html>
<head>
    <title>Student manager</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="container">
        {% include 'login.jinja2' %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>