{% extends 'template.jinja2' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    {% if user %}
        <h4>Welcome, {{ user.name }}</h4>
    {% else %}
        <p>You are not logged in. In order to use this system, you must be <a href="/login">logged in</a> with an authorised account.</p>
    {% endif %}
    <div class="clearfix"></div>

    {% if "create_project_groups" in permissions %}
        {% for group in groups %}
            {% with create_button = "Modify rotation" %}
                {% include "group_form_inline.jinja2" %}
            {% endwith %}
        {% endfor %}
    {% endif %}

    <div class="clearfix"></div>

    {% if "create_projects" in permissions %}
        <h4>My owned projects</h4>
        {% include 'group_list_overview_inline.jinja2' %}
    {% endif %}
    {% if "review_other_projects" in permissions %}
        <h4>Projects you are the CoGS marker for</h4>
        {% with series_list = review_list %}
            {% include 'group_list_overview_inline.jinja2' %}
        {% endwith %}
    {% endif %}

    <div class="clearfix"></div>

    {% if first_option or second_option %}
        <h4>My choices</h4>
    {% endif %}
    {% if first_option %}
        <h5>My first choice</h5>
        {% with project = first_option %}
            {% include "single_project_overview.jinja2" %}
        {% endwith %}
        <hr/>
    {% endif %}
    {% if second_option %}
        <h5>My second choice</h5>
        {% with project = second_option %}
            {% include "single_project_overview.jinja2" %}
        {% endwith %}
        <hr/>
    {% endif %}
    {% if third_option %}
        <h5>My third choice</h5>
        {% with project = third_option %}
            {% include "single_project_overview.jinja2" %}
        {% endwith %}
    {% endif %}
    {% if project_list %}
        {% if third_option %}
            <hr style="height:2px;border:none;color:#999;background-color:#ccc;" />
        {% endif %}
        <h4>My projects</h4>
        {% include 'group_overview_inline.jinja2' %}
    {% endif %}

{% endblock %}

{% block script %}
    {% if "create_project_groups" in permissions %}
        <script>
            no_datepickers = {{ deadlines | count }};
            {% for group in groups %}
                {% include "group_create_js.jinja2" %}
                $('button[name="add_group_{{ group.part }}"]').on('click', function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: "/groups/{{ group.part }}/modify",
                        type: "post",
                        data: $("#edit_form_{{ group.part }}").serialize(),
                        success: function(response) {
                            window.location.replace(response);
                        }
                    });
                });
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}