{% extends 'template.jinja2' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div>
    <div class="col-md-6">
        <h4>Welcome, {{ user_name }}</h4>
    </div>
    <div class="col-md-6">
        {% if download_spreadsheet == "True" %}
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle pull-right" id="menu1" type="button" data-toggle="dropdown">Export Series
                <span class="caret"></span></button>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="menu1">
                    {% for year in series_years %}
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/groups/{{ year }}/export_group.xlsx">{{ year }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="clearfix"></div>

    {% if display_projects_link %}
        <a href="/projects">View projects</a>
        <br/>
    {% endif %}

    {% if create_projects == "True" %}
        <h4>My owned projects
        {% if can_edit %}
            <a href="/create_project" class="btn btn-primary btn-small">Create Project</a>
        {% endif %}
        </h4>
        {% include 'group_list_overview_inline.jinja2' %}
    {% endif %}

    {% if modify_project_groups == "True" %}
        {% with create_button = "Modify rotation" %}
            {% include "group_form_inline.jinja2" %}
        {% endwith %}
    {% endif %}
    <div class="clearfix"></div>


    {% if first_option or second_option %}
        <h4>My choices</h4>
    {% endif %}
    {% if first_option %}
        <h5>My first choice</h5>
        {% with project = first_option %}
            {% include "single_project_overview.jinja2" %}
        {% endwith %}
        <hr/>
    {% endif %}
    {% if second_option %}
        <h5>My second choice</h5>
        {% with project = second_option %}
            {% include "single_project_overview.jinja2" %}
        {% endwith %}
        <hr/>
    {% endif %}
    {% if third_option %}
        <h5>My third choice</h5>
        {% with project = third_option %}
            {% include "single_project_overview.jinja2" %}
        {% endwith %}
    {% endif %}
    {% if project_list %}
        {% if third_option %}
            <hr style="height:2px;border:none;color:#999;background-color:#ccc;" />
        {% endif %}
        <h4>My projects</h4>
        {% include 'group_overview_inline.jinja2' %}
    {% endif %}

{% endblock %}

{% block script %}
    {% if modify_project_groups == "True" %}
        <script>
            no_datepickers = {{ deadlines | count }};
        </script>
        <script src="/static/js/group_create.js"></script>
        <script>
            $(document).ready(function() {
                selectDate(moment().format("DD-MM-YYYY"), 0, add_days=0);
            });
            $('button[name="add_group"]').on('click', function(e) {
                e.preventDefault();
                $.ajax({
                    url: "/modify_rotation",
                    type: "post",
                    data: $("#edit-form").serialize(),
                    success: function(response) {
                        window.location.replace(response);
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}