# Actual dependencies
# TODO Set versions
PyYAML
aiohttp
psycopg2
blowfish
SQLAlchemy
text2html

# Old and potentially unnecessary stuff
# Delete/move above as appropriate
Jinja2
aiohttp_session
aiohttp_jinja2
APScheduler
aiofiles
xlsxwriter
bleach
python-slugify
