# Database
SQLAlchemy==1.2.10
psycopg2-binary==2.7.5

# Scheduler
APScheduler==3.5.2

# Web server, templating and content generation
Jinja2==2.10
XlsxWriter==1.0.8
# aiohttp 3.5.2+ breaks the tests: https://github.com/aio-libs/aiohttp/issues/3968
aiohttp==3.5.1
aiohttp_cors==0.7.0
bleach==2.1.3
bs4
html2text==2018.1.9

# Misc
hypothesis==4.28
inflect==2.1
PyYAML==3.13
pytz

# Typing
typing-extensions
sqlalchemy-stubs

# Pagesmith authentication
mysqlclient==1.3.13
blowfish==0.6.1
