{{ project.student.name }} does not have a CoGS marker for their project "{{ project.name }}".
<br>
<a href="http://{{ web_config.host }}:{{ web_config.port }}/groups/{{ project.group.part }}/edit_cogs">Please assign them a CoGS marker</a>