You got {{ grade.grade }}.
<br>
<h3>What did the student do particularly well?</h3>
{{ grade.good_feedback }}
<br>
<h3>What improvements could the student make?</h3>
{{ grade.bad_feedback }}
<br>
<h3>General comments on the project and report:</h3>
{{ grade.general_feedback }}