The selection of projects for this rotation has been released.
Please choose your first, second and third choices
 <a href='http://{{ web_config.host }}:{{ web_config.port }}/'>here</a>.
<br>
{% if group.part == 3 %}
    As this is the third rotation, if you haven't done a wetlab or a computational project yet, you will be required to do one.
    <br>
{% endif %}
