Your projects have been assigned.
<br/>
{% for project in projects %}
    <br/>
    {% if project.student %}
        {{ project.title }} was assigned to {{ project.student.name }}.
    {% endif %}
{% endfor %}
