The deadline for supervisors for rotation {{ group.part }} has passed.
<br>
There are {{ group.projects | length }} projects for {{ no_students }} students.
<br>
In order for students to be invited, there must be at least as many projects as students.