{% extends "template.jinja2" %}
{% block title %}
Email editor
{% endblock %}
{% block head %}
    <script src="/static/js/nicEdit-latest.js" type="text/javascript"></script>
    <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
{% endblock %}
{% block content %}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="selector" type="button" data-toggle="dropdown">Template Select
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            {% for template in templates %}
                <li><a href="#" name="email_link" id="{{ template.name }}_select">{{ template.name.replace("_invite_", " invite for rotation ") }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <div class="form-group">
        <label for="subject">Subject</label>
        <input name="subject" type="text" class="form-control" id="subject" placeholder="Enter subject" required="required"/>
    </div>
    <br>
    <textarea id="editor" class="form-control" rows="20" required="required"></textarea>
    <br>
    <button type="button" class="btn btn-primary btn-lg" id="submit">Save</button>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function() {setTimeout(function () {
            $('.nicEdit-panel').hide();
            $("#submit").prop("disabled", true);
            $("#subject").prop("disabled", true);
            $('.nicEdit-main').attr('contenteditable','false').parent().css("background-colour", "#EEE");
        }, 0)});

        var files = {}
        {% for template in templates %}
            files["{{ template.name }}"] = {{ template.content.__repr__()|safe }};
            $("#{{ template.name }}_select").click(function(e){
                e.preventDefault();
                $('.nicEdit-panel').show();
                $("#submit").prop("disabled", false);
                $("#subject").prop("disabled", false);
                $('.nicEdit-main').attr('contenteditable','true').parent().css("background-colour", "#FFF");
                nicEditors.findEditor("editor").setContent({{ template.content.__repr__()|safe }});
                $("#subject").val({{ template.subject.__repr__() | safe }})
            });
        {% endfor %}

        $('.dropdown li a[name="email_link"]').click(function(e){
            $('#selector').html($(this).text()+' <span class="caret"></span></button>');
            $('#selector').data("template_id", this.id.slice(0, -7));
        });

        $("#submit").click(function() {
            name = $('#selector').data("template_id");
            $.ajax({
                type: "post",
                data: {name: name,
                       subject: $("#subject").val(),
                       data: $(".nicEdit-main")[0].innerHTML},
                success: function(response) {
                    window.location.replace(response);
                }
            });
        });
    </script>
{% endblock %}