function selectDate{{ group.part }}(selected, i, add_days=1) {
    if (!selected) {
        return
    }
    var minDate = moment(selected, 'DD/MM/YYYY');
    minDate = minDate.add(add_days, "days");

    var nextPicker = $('#datepicker_{{ group.part }}_'+(i+1));
    nextPicker.datepicker("option", "minDate", minDate.toDate());

    if (!nextPicker.val()) {
        nextPicker.datepicker("setDate", minDate.toDate());
    }
    if (i <= no_datepickers) {
        selectDate{{ group.part }}(nextPicker.val(), i+1);
    }
}


for (i = 1; i < no_datepickers+1; i++) {
    $(function(i) {
        return function() {
            $('#datepicker_{{ group.part }}_'+i).datepicker({
                dateFormat: 'dd/mm/yy',
                onSelect: function(selected) {selectDate{{ group.part }}(selected, i)}
            });
            $("#datepicker_{{ group.part }}_"+i).on("click", function(event) {
                if (!$(event.target).datepicker("option", "minDate")) {
                    selectDate{{ group.part }}(moment().format("DD-MM-YYYY"), i-1, add_days=0);
                    $(event.target).datepicker("show");
                }
            });
        }
    }(i));
}
