<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="well well-sm">
        <form id="edit_form_{{ group.part }}" method="POST">
            <div class="row">
                <div class="col-sm-6 col-sm-push-5">
                    {% if group.part %}
                        <div class="pull-right visible-sm-block visible-md-block visible-lg-block">
                            <h2>Rotation {{ group.part }}</h2>
                        </div>
                        <div class="visible-xs-block">
                            <h2>Rotation {{ group.part }}</h2>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-6 col-sm-pull-5">
                    {% for deadline in deadlines %}
                        <label for="datepicker_{{ group.part }}_{{ loop.index }}">{{ deadlines[deadline]["name"] }}</label>
                        <input class="input-group date" id="datepicker_{{ group.part }}_{{ loop.index }}" autocomplete=off name="{{ deadline }}" value="{{ group.get_date_as_dmy(deadline) }}"/>
                    {% endfor %}
                    <br/>
                    <button type="submit" class="btn btn-primary btn-lg" name="add_group_{{ group.part }}">{{ create_button }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="clearfix"></div>