{% extends 'template.jinja2' %}
{% block title %}My Grade{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="well well-sm">
                <form id="edit-form">
                    <div class="row">
                        <h3 style="text-align:center;" class="project_title"></h3>
                    </div>
                    <h5>Supervisor name: <div class="project_supervisor_name"></div></h5>
                    <h5>CoGS member: <div class="project_cogs_name"></div></h5>
                    <br>
                    Grade: <div class="project_grade"></div>

                    What did you do particularly well?
                    <div class="good_feedback"></div>

                    What improvements could you make?
                    <div class="bad_feedback"></div>

                    General comments on the project and report:
                    <div class="general_feedback"></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>

    </script>
{% endblock %}
