{% extends 'template.jinja2' %}
{% block title %}{{ label }} a project{% endblock %}
{% block head %}
    <script src="/static/js/nicEdit-latest.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="well well-sm">
                <form id="edit-form">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="name">Project title</label>
                                <input name="title" type="text" class="form-control" id="name" placeholder="Enter title" required="required" value="{{ project.title }}"/>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="authors">Others involved</label>
                                <input name="authors" type="text" class="form-control" id="authors" value="{{ project.small_info }}"/>
                            </div>
                        </div>
                    </div>
                    <label class="btn">
                        <input name="options" type="radio" value="wetlab" autocomplete="off" {{ "checked" if (project.is_wetlab and not project.is_computational) }}> Wetlab
                    </label>
                    <label class="btn">
                        <input name="options" type="radio" value="computational" autocomplete="off" {{ "checked" if (not project.is_wetlab and project.is_computational) }}> Computational
                    </label>
                    <label class="btn">
                        <input name="options" type="radio" value="both" autocomplete="off" {{ "checked" if (project.is_wetlab and project.is_computational) }}> Both
                    </label>
                    <select class="multiselect" name="programmes" id="programmes" multiple="multiple">
                        {% for programme in programmes %}
                            <option value="{{ programme }}" checked>{{ programme }}</option>
                        {% endfor %}
                    </select>
                    <div class="form-group">
                        <label for="name">Abstract</label>
                        <textarea name="message" id="message" class="form-control" rows="20" required="required"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg" id="submit">{{ label }}</button>
                    {% if show_delete_button %}
                        <button type="button" class="btn btn-danger btn-lg" id="delete">Delete Project</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <div id="incomplete" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Incomplete</h4>
                </div>
                <div class="modal-body">
                    <p id="incomplete_info">Not all of the deadlines have not been set.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>

    <div id="delete_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Project?</h4>
                </div>
                <div class="modal-body">
                    <p>This will delete the project. Are you sure you want to do this?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a id="confirm_delete" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function() {
            $(".multiselect").multiselect({nonSelectedText: "No Programmes Selected"});
            {% if project.programmes %}
                {% for programme in project.programmes.split("|") %}
                    $("#programmes").multiselect("select", "{{ programme }}");
                {% endfor %}
            {% endif %}
            nicEditors.allTextAreas();
            nicEditors.findEditor("message").setContent({{ project.abstract.__repr__()|safe if project.abstract else '""'|safe}});
        });

        $("#submit").click(function() {
            $("#message").val($(".nicEdit-main")[0].innerHTML);
            comments = "";
            if (!$("#name").val().trim()) {
                comments += "The project title is empty<br>";
            }
            if (!$("#message").val().replace(/<br>/g, "").replace(/&nbsp;/g, "").trim()) {
                comments += "The abstract is empty<br>";
            }
            if (!$('input[name="options"]:checked').val()) {
                comments += "There was no project type selected<br>";
            }
            if (comments) {
                document.getElementById("incomplete_info").innerHTML = comments;
                $('#incomplete').modal({
                  backdrop: 'static',
                  keyboard: false
                })
            }
            else {
                $.ajax({
                    type: "post",
                    data: $("#edit-form").serialize(),
                    success: function(response) {
                        window.location.replace(response);
                    }
                });
            }
        });

        $("#delete").click(function() {
            $('#delete_modal').modal({
              backdrop: 'static',
              keyboard: false
            }).one('click', '#confirm_delete', function(e) {
                $.ajax({
                    type: "delete",
                    success: function(response) {
                        window.location.replace(response);
                    }
                });
            });
        })

        $("#back").click(function() {
            $('#back_modal').modal({
              backdrop: 'static',
              keyboard: false
            })
        })
    </script>
{% endblock %}
