{% extends "template.jinja2" %}
{% set upload_force_checkbox = "Overwrite existing data" %}
{% block head %}
    {% include "fine_uploader.jinja2" %}
{% endblock %}
{% block content %}
    <h3>Upload final document for {{ project.title }}</h3>
    {% if not project.uploaded %}
        <h5>Deadline: {{ project.group.student_complete }}</h5>
        <p>
            You may submit your final document for the project at any time.
            {% if project.group.part != 2 %}You will receive {{ grace_time }} grace period where you can edit your final upload as you please.{% else %}You may edit your final upload until the final deadline of {{ project.group.student_complete }}.{% endif %}
            After this time, you will no longer be able to modify the project at all and it will be sent to your supervisor and dedicated CoGS marker.
            You will be then sent your grade for the project by email along with accompanying feedback.
        </p>
    {% else %}
        <p>
            You have already uploaded your final document for this rotation. You may reupload the project until <b>{{ project_grace  }}</b>
        </p>
        <label><input type="checkbox" id="force">{{ upload_force_checkbox }}</label>

        <div class="clearfix"></div>
        <div id="confirm" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirm</h4>
                    </div>
                    <div class="modal-body">
                        <p>This action has been prevented to stop you overwriting your data.</p>
                        <p>If you want to resubmit your project with a different file, select the '{{ upload_force_checkbox }}' checkbox.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col-md-5">
        <label for="name">Final report title</label>
        <input name="title" type="text" class="form-control" id="name" placeholder="Enter title" required="required" value="{{ project.title }}"/>
    </div>
    <div class="clearfix"></div>
    <br>
    <div id="uploader"></div>
    <br>
    <button class="btn btn-success btn-lg" id="upload-button">Upload</button>
{% endblock %}
{% block script %}
<script>
    var uploader = new qq.FineUploader({
        element: $("#uploader")[0],
        autoUpload: false,
        request: {endpoint: "/student_submit"},
        callbacks: {onComplete: function() {setTimeout(function () {window.location.reload(true)}, 0)},
                    onSubmitted: function (data, buttonContainer) {
                        {% if project.group.part == 2 %}
                            no_uploads = $.grep(uploader.getUploads(), function(obj, i) {return obj.status === "submitted"}).length;
                            if (no_uploads == 1) {
                                $("#uploader").find(".upload_button_div").html("<div>Upload abstract</div>")
                            }
                            else if (no_uploads == 2) {
                                $("#upload-button").prop('disabled', false);
                            }
                        {% else %}
                            $("#upload-button").prop('disabled', false);
                        {% endif %}
                    },
                    onCancel: function(id, name) {
                        $("#uploader").find(".upload_button_div").html("<div>Upload project</div>");
                        $("#upload-button").prop('disabled', true);
                        return true;
                    },
                    onValidate: function(data, buttonContainer) {
                        {% if project.uploaded %}
                            if (!$("#force").is(':checked')) {
                                $('#confirm').modal({
                                  backdrop: 'static',
                                  keyboard: false
                                })
                                return false;
                            }
                        {% endif %}
                        return true;
                    }
                },
        validation: {itemLimit: 2}
    });
    $("#uploader").find(".upload_button_div").html("<div>Upload project</div>")


    $("#upload-button").on('click', function(){
        uploader.setCustomHeaders({"name": $("#name").val()});
        uploader.uploadStoredFiles();
    });

    $("#upload-button").prop('disabled', true);

</script>
{% endblock %}
