{% extends 'template.jinja2' %}
{% block title %}User Overview{% endblock %}
{% block head %}
    <script type="text/javascript" src="/static/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/table.css"/>
{% endblock %}
{% block content %}
    <form id="edit-form" method="post">
        <table class="table table-bordered">
            <thead>
                {% for header in headers %}
                <td><h3 style="margin-top:2px; margin-bottom:2px"><span>{{ header.title().replace("_", " ") }}</span></h3></td>
                {% endfor %}
            </thead>
            {% for user in users %}
            <tr>
                <td><input name="{{ user.id }}_name" type="text" class="form-control" id="{{ user.id }}_name" placeholder="Name" required="required" value="{{ user.name }}"/></td>
                <td><input name="{{ user.id }}_email" type="text" class="form-control" id="{{ user.id }}_email" placeholder="Email address" required="required" value="{{ user.email }}"/></td>
                <td><input name="{{ user.id }}_priority" type="number" class="form-control" id="{{ user.id }}_priority" placeholder="Student priority" required="required" value="{{ user.priority }}"/></td>
                <td>
                    <select class="multiselect" name="{{ user.id }}_user_type" id="{{ user.id }}_user_type" multiple="multiple">
                        {% for type in user_types %}
                            <option value="{{ type }}" {{"disabled='disabled'" if user == logged_in and type == "grad_office"}}>{{type.title().replace("_", " ")}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="assign">Update</button>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-danger btn-lg btn-block" id="rm_student">Remove student access</button>
            <button type="button" class="btn btn-primary btn-lg btn-block " data-toggle="button" id="show_users">Show users with no roles</button>
            <button type="button" class="btn btn-primary btn-lg btn-block " data-toggle="button" id="show_archived">Show archived users</button>
        </div>
    </form>
{% endblock %}
{% block script %}
    <script>
        var users_created = 0;
        if (!String.prototype.format) {
          String.prototype.format = function() {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function(match, number) {
              return typeof args[number] != 'undefined'
                ? args[number]
                : match
              ;
            });
          };
        }

        $(document).ready(function() {
            $(".multiselect").multiselect();
            {% for user in users %}
                {% for option in user.user_type.split("|") %}
                    $("#{{ user.id }}_user_type").multiselect("select", "{{ option }}");
                {% endfor %}
            {% endfor %}
            add_create_user();
            update_hidden_users();
        });

        $("#show_users").click(update_hidden_users);
        $("#show_archived").click(update_hidden_users);

        function update_hidden_users() {
            setTimeout(function () {
                show_no_roles = $("#show_users").hasClass("active");
                show_archived = $("#show_archived").hasClass("active");
                console.log("Showing users with no roles? "+show_no_roles);
                console.log("Showing archived users? "+show_archived);
                $("select:not(:last)").each(function(i, obj) {
                    var roles = $(obj).val();
                    if (roles === null) {roles = []}
                    var no_roles = roles.length === 0;
                    var is_archived = roles.includes("archive");
                    var hidden = (!show_no_roles & no_roles) | (!show_archived & is_archived);
                    console.log("Roles: "+roles+". Archived? "+is_archived+" Has no roles? "+no_roles+". Hidden? "+hidden);
                    $(this).closest("tr").toggle(hidden === 0);
                });
            }, 0);
        }

        var delayedFn, blurredFrom;

        $("*").on("focusout", "tr", function () {
            tr = this
            setTimeout(function () {
                if ($(tr).has(document.activeElement).length == 0 && tr !== document.activeElement) {
                    if ($("#hide_users").hasClass("active")) {
                        if ($(tr).attr("name") !== "new") {
                            if ($(tr).find(".multiselect-container").children().filter(".active").length == 0) {
                                if ($(tr).find(".multiselect-container").length != i + 1) {
                                    $(tr).hide();
                                }
                            }
                        }
                    }
                }
            }, 0);
        });

        $("#rm_student").click(function() {
            {% for user in users %}
                var select = $("#{{ user.id }}_user_type");
                if (select.val().length === 1 && select.val()[0] === "student") {
                    select.multiselect("deselect", "student");
                    select.multiselect("select", "archive");
                }
            {% endfor %}
        });

        function add_create_user() {
            users_created -= 1;
            $("tbody").append('<tr name="new"><td><input name="{0}_name" type="text" class="form-control" id="{0}_name" placeholder="Name"/></td><td><input name="{0}_email" type="text" class="form-control" id="{0}_email" placeholder="Email address"/></td><td><input name="{0}_priority" type="number" class="form-control" id="{0}_priority" placeholder="Student priority"/></td><td><select class="multiselect" name="{0}_user_type" id="{0}_user_type" multiple="multiple">{% for type in user_types %}<option value="{{ type }}" checked>{{type.title().replace("_", " ")}}</option>{% endfor %}</select></td></tr>'.format(users_created));
            $("#" + users_created +"_user_type").multiselect();
            $($("tbody").children().slice(-1)[0]).focusin(function() {
                $($("tbody").children().slice(-1)[0]).unbind("focusin");
                $($("tbody").children().slice(-1)[0]).find("input[type='number']").val(0)
                add_create_user();
            });
        }
    </script>
{% endblock %}
