table {
    table-layout: fixed;
}

tr td{
  padding: 0 !important;
  margin: 0 !important;
}

button {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;

}

.active {
  background-color: green !important;
}