<p>Dear {{ user_description }},</p>
<p>The deadline for {{ description }} for rotation {{ rotation.part }} has been changed. The new deadline is {{ new_deadline }} (changed from {{ old_deadline }}).</p>
