{{ project.student.name }} does not have a CoGS marker for their project "{{ project.name }}".
<br>
<a href="{{ web_service }}/rotations/{{ project.group.part }}/cogs">Please assign them a CoGS marker</a>.
