<p>Dear Graduate Office,</p>
<p>{{ project.student.name }} does not have a CoGS marker for their project "{{ project.name }}".</p>
<p>Please <a href="{{ web_service }}/rotations/{{ project.group.part }}/cogs">assign them a CoGS marker</a>.</p>
