<p>Dear {{ project.student.name }},</p>
<p>Your {{ report_or_poster(project.group.part) }} for rotation {{ project.group.part }} was due on {{ project.group.student_complete }}, but no such submission has been received by the student portal. Please upload your {{ report_or_poster(project.group.part) }} as soon as possible.</p>
<p>If you believe that you have already uploaded your {{ report_or_poster(project.group.part) }}, please contact the Graduate Office.</p>
