<p>Dear {{ project.student.name }},</p>
<p>Your {{ report_or_poster(project.group.part) }} for rotation {{ project.group.part }} {{ "was" | plural_verb(report_list(project.group.part)) }} due on {{ project.group.student_complete }}, but no such submission has been received by the student portal. Please upload your {{ report_or_poster(project.group.part) }} as soon as possible.</p>
<p>If you believe that you have already done this, please contact the Graduate Office.</p>
