Dear {{ project.student.name }},
<br><br>
Your project for rotation {{ project.group.part }} has been assigned.
<br>
Your project is {{ project.title }} and your supervisor is {{ project.supervisor.name }}.
<br>
<br>
Please contact <a href="mailto:{{project.supervisor.email}}">your supervisor</a> if you haven't already.
<br>
{% if project.group.part != 2 %}Report{% else %}Abstract/Poster{% endif %} deadline: {{ project.group.student_complete }}.
<br>
You must upload your final document{{"s" if project.group.part == 2 }} <a href="{{ web_service }}/student_submit">here</a>.