<p>Dear student,</p>
<p>The list of projects for rotation {{ group.part }} is now <a href="{{ web_service }}/projects">available</a>. You are encouraged to contact faculty members/supervisors for discussions, and if you don't find any suitable projects, please don't hesitate to get in touch with them.</p>
<p>Please select a first, second and third choice of project for the {{ group.part | ordinal }} rotation via <a href="{{ web_service }}/projects">the student portal</a>. We will do our best to accommodate your preferences, but can't guarantee that everyone will be allocated to their first choice.</p>
<p>Please ensure you have entered your choices no later than {{ group.student_choice }}. If you need any more information, do contact us.</p>
