<p>Dear {{ user.name }},</p>
<p>The feedback students receive on their rotation projects is important for their development as a research scientist.</p>
<p>Please provide feedback for {{ project.student.name }}{% if user == project.cogs_marker %} (supervisor: {{ project.supervisor.name }}){% endif %} for rotation {{ project.group.part }} <a href='{{ web_service }}/projects/{{ project.id }}/provide_feedback'>here</a> by {{ project.group.marking_complete }}. Their {{ report_or_poster(project.group.part) }} {{ "is" | plural_verb(report_list(project.group.part)) }} attached to this email, or alternatively {{ "it" | plural_noun(report_list(project.group.part)) }} can be downloaded <a href="{{ web_service }}/api/projects/{{ project.id }}/file">here</a>.</p>
<p>Please note that your feedback will be sent automatically to the student and the Graduate Office once submitted.</p>
