<h3>Students for rotation {{ projects[0].group.part }} have now been assigned to projects.</h3>

<p>
    {% for project in projects %}
        "{{ project.title | e}}" - {{project.supervisor.name | e}}{% if project.small_info %} ({{project.small_info | e}}){% endif %}: {{ project.student.name or "Unassigned"}}
        <br>
    {% endfor %}
</p>
