<p>Dear Graduate Office,</p>
<p>The deadline for supervisors to submit projects for rotation {{ group.part }} has passed.</p>
<p>There are {{ group.projects | length }} projects for {{ no_students }} students.</p>
<p>In order for students to be invited, there must be at least as many projects as students.</p>
<p>If there are insufficient projects, please ensure additional projects are submitted before students are invited to view projects on {{ group.student_invite }}.</p>
