Dear {{ user.name }},
<br>

Please provide feedback for {{ project.student.name }}{% if user == project.cogs_marker %} (Supervisor {{ project.supervisor.name }}){% endif %} for rotation {{ project.group.part }} <a href='{{ web_config.service }}/project_feedback/{{ project.id }}>'here</a> by {{ project.group.marking_complete }}.

<br>

Please note your feedback will be sent automatically to the student and gradoffice once submitted.