{% extends 'template.jinja2' %}
{% block title %}{{ label }} a project{% endblock %}
{% block head %}
<script src="/static/js/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
<script>
    function submit_data() {
        $("#good").val(document.getElementsByClassName("nicEdit-main")[0].innerHTML);
        $("#bad").val(document.getElementsByClassName("nicEdit-main")[1].innerHTML);
        $("#general").val(document.getElementsByClassName("nicEdit-main")[2].innerHTML);
        $.ajax({
            type: "post",
            data: $("#edit-form").serialize(),
            success: function(response) {
                window.location.replace(response);
            }
        });
    }
</script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="well well-sm">
                <form id="edit-form">
                    <div class="row">
                        <h3 style="text-align:center;">{{ project.title }}</h3>
                    </div>
                    <h5>Student name: {{ project.student.name}}</h5>
                    <h5>Supervisor name: {{ project.supervisor.name}}</h5>
                    <h5>CoGS member: {{ project.cogs_marker.name}}</h5>
                    <a href="/projects/files/{{project.id}}">Download project</a>
                    <br>
                    {% for grade in grades %}
                    <label class="btn">
                        <input name="options" type="radio" value="{{ loop.index }}" autocomplete="off"> {{ grade }}
                    </label>
                    {% endfor %}

                    <div class="form-group">
                        <label for="good">What did the student do particularly well?</label>
                        <textarea name="good" id="good" class="form-control" rows="10" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="bad">What improvements could the student make?</label>
                        <textarea name="bad" id="bad" class="form-control" rows="10" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="general">General comments on the project and report:</label>
                        <textarea name="general" id="general" class="form-control" rows="10" required="required"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg" onclick="submit_data()">{{ label }}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}